.vertical-center {
  min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/* Stretch for buttons */
.stretch {
  width: 100%;
}

.contact-info, .pizza-order, .order-form, #price {
  display: none;
}

/* Contact Form*/
#city {
  width: 45%;
}

#zip {
  width: 32%;
}

#state {
  width: 20%;
}

#phone-label {
  text-align: right;
}

#area-code, #central-office {
  width: 9.75%;
}

#subscriber-num {
  width: 11%;
}
